<div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_path('lol-worlds.jpg') %>"></div>

<div class="row" data-equalizer>
  <h2 class="text-center index-header">All Users</h2>
  <%= render @users %>
</div>