<section class="landing-page">
  <div class="row">
    <h1 class="text-right">Pick Up Group</h1>

    <div class="medium-3 medium-offset-9 columns ">
    <p>Pick Up Group or P.U.G is a website where gamers can go to and find users who play the games and form groups.</p>
    </div>

    <div class="medium-3 medium-offset-9 columns ">
      <%= link_to "Login", new_user_session_path, class: "button small radius" %>
      <span>Or</span>
      <%= link_to "Register", new_user_registration_path, class: "button small radius" %>
    </div>
  </div>
</section>