.subscriber-image {
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 25px;
}

.user-image {
  img {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 25px;
  }
}

.group-image {
  img {
    height: 300px;
    width:  300px;
    float: left;
    margin-right: 25px;
  }
}

#pug {
  margin-bottom: 5px;
}

.orbit-content {
  margin-top: 30px;
  margin-left: 10px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

body,html{
  height:100%;
  width:100%;
}

.off-canvas-wrap {
  .inner-wrap{
    min-height: 100vh;
  }
}

.landing-page {
  background: url('pug-left.jpg');
  background-size: cover;
  height: 95vh;
}

.right-small {
  border-left: none;
}